@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.login-container {
  background-color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.login-form-container {
  max-width: 950px;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

h2 {
  font-weight: 600;
  color: #343a40;
}

.custom-input {
  background-color: white;
  color: black;
  border-radius: 8px;
  width: 300px;
}

.custom-input:focus {
  background-color: white;
  outline: none;
  color: black;
  border: 1px solid #6261cc;
}

@media (min-width: 768px) {
  .login-form-container {
    flex-direction: row;
  }

  .col-md-6 {
    padding: 20px;
  }

  .img-fluid {
    max-height: 250px;
  }
}

@media (max-width: 768px) {
  .login-form-container {
    background-color: white;
    flex-direction: column;
  }

  .img-fluid {
    max-height: 150px;
    margin-bottom: 20px;
  }

  .col-md-6 {
    padding: 15px;
  }
}
